#secondarySelection {
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  transition: position 0.5s ease;
  width: 100%;
}

#priceRange {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 2rem;
}

#star {
  margin: 0 3px;
}

#star:hover {
  fill: var(--gold);
}

#p1:checked ~ #lowPrice {
  color: var(--gold) !important;
}

#p2:checked ~ #medPrice {
  color: var(--gold) !important;
}

#p3:checked ~ #highPrice {
  color: var(--gold) !important;
}

#stars .star {
  margin: 0 2px;
}

#stars input {
  display: none;
}

@media (max-width: 500px) {
  #secondarySelection {
    display: none;
  }
}
