body {
  position: relative;
  display: flex;
  /* place-items: center !important; */
  justify-content: center !important;
  padding:  20px;
  min-width: 320px;
  max-width: 1440px;
  min-height: 100vh;
  background-color: #192537 !important;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: whitesmoke;
}
